To develop an online game (with superheroes) implement a software solution that:

1. In order to allow other companies or players to develop external solutions that connect to the game, a library (an API) must be developed.
- The API contains many classes with many details
- not all classes are documented
- The API should provide a simplified interface for a set of basic functions

2. Create the possibility that the players and the game should be able to handle groups of characters
- multiple players or NPCs can be grouped together
- groups can grow by including other groups ot individual characters
- some characters can control groups

3. We need to change the login by adding a filter that will limit the number of attempts to maximum 3