To develop an online game (with superheroes) implement a software solution that:

1. In order to allow other companies or players to develop external solutions that connect to the game, a library (an API) must be developed.
- The API contains many classes with many details
- not all classes are documented
- The API should provide a simplified interface for a set of basic functions

2. Create the possibility that the players and the game should be able to handle groups of characters
- multiple players or NPCs can be grouped together
- groups can grow by including other groups or individual characters
- some characters can control groups

3. Add an additional login filter
- at this moment the login is made by username and password and if the password is wrong the user can try several times
- there are attacks on the players' accounts and the attacker guesses the password related to the account after several attempts
- it is desired to modify the login module by limiting the number of attempts to a maximum of 3
- the existing login module must be modified without interrupting the game